body {
    background-image: url('./assets/F2.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#login-form {
    background-color: transparent;
    background-size: cover;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: relative; 
    overflow: hidden;
}

 #login-form:hover {
    background-color: #ffffffc9;
    opacity: 2;
    transition: background-color 0.3s ease;
    transform: rotate(2deg) scale(1.00); 
    transition: transform 0.3s ease;
    color: black;
    animation: vibrar 0.2s ease-in-out 0.20s;
            
}
@keyframes vibrar {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }

#login-form img {
    max-width: 150px;
    margin: 0 auto;
    border-radius: 20px;
}

#login-form p {
    margin-top: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#login-form button {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out; 
    background-image: url('./assets/F4.jpg'); 
    background-size: 100% 100%;
    margin-top: 20px;
    font-size: 16px;
}
#login-form button:hover {
    transform: scale(1.1); 
}

#login-form .password-container {
    display: flex;
    align-items: center;
}

.password-ojito {
    position: relative;
    /*move eye inside input*/
    right: 20px;
}

#loader-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#success {
    color: lightgreen;
    background-color: black;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

#fail-login {
    color: red;
    background-color: white; 
    display: none;
    border-radius: 3px;
}

/* Estilo del botón para regresar al formulario */
#return-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    /* Define la imagen de fondo */
    background-image: url('./assets/F4.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Centra la imagen */
}

/* Estilo al pasar el cursor sobre el botón (opcional) */
#return-button:hover {
    /* Puedes agregar estilos adicionales al botón al pasar el cursor sobre él */
    transform: scale(1.1);
}

